.item .icon {
    width: 40px;
    height: 35px;
}

nav{
    height: 100%;
}

.sidebar{
    width: 75px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    transition : ease-in-out 0.3s;
    border-right: solid black ;
    display: flex;
    flex-direction: column;
    background:linear-gradient(180deg, rgba(252,251,251,1) 60%, rgba(15, 68, 121) 100%);

}

.sidebar:hover {
    width: 240px;
    border-right: solid;
}

.sidebar:hover > .item > .text {
    opacity: 1;
}

.sidebar:hover > hr {
    width: 185px;
    
}

hr{
    display: flex;
    width: 50px;
    border-bottom: solid 3px #0f4479;
    position: fixed;
    top: 140px;
    transition : ease-in-out 0.3s;
}

.item {
    display: flex;
    align-items: center;
    margin: 70px 0;
}


#home, #profil, #codepc, #reseaux, .text {
    position: fixed;
    text-decoration: none;
    color:#0f4479;
}


.item .text {
    opacity: 0;
    margin-left: 60px;
    overflow: hidden;
    transition : ease-in-out 0.3s;
}

.text:hover{
    text-decoration: underline;
}

@media screen and (min-width: 280px) and (max-width: 1023px){
    .sidebar{
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 100%;
        border-right: white;
        align-items: flex-start;
        justify-content: space-around;
        padding: 20px 0;
        background: white;
    }

    .sidebar:hover{
        border: none;
        height: 120px;
        width: 100%;
    }

    #home, #profil, #codepc, #reseaux, .text {
        display: flex;
        position: initial;
        text-decoration: none;
        color:#0f4479;
    }

    .item{
        margin: 0;
        flex-direction: column;
        width: 75px;
        
    }
    .item .text{
        margin: 0;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80px;
        text-align: center;
        justify-content: center;
    }

    .text{
        font-size: 15px;
        height: 40px;
        align-items: center;
    }

    hr{
        top: 50px;
        display: none;
    }

    .sidebar:hover > hr {
        width: 95%;
        margin-top: 15px;
        border-right: white;
        display: inline;
        
    }
}
/* Responsive 320px */
/* @media screen and (min-width: 320px) {
    .sidebar{
        display: flex;
        flex-direction: row;
        height: 70px;
        width: 100%;
        border: none;
    }
    #home, #profil, #codepc, #reseaux, .text {
        display: flex;
        position: initial;
        text-decoration: none;
        color: black;
    }

    .item{
        margin: 0;
        flex-direction: column;
    }
    .item .text{
        margin: 0;
    }

    hr{
        top: 50px;

    }
    .sidebar:hover > hr {
        width: 100%;
        
    }
} */