.homepage_presentation{
    margin-top: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}

.homepage_title{
    padding: 20px;
}

.homepage_photo{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
}

.informations{
    margin-top: 100px;
    padding: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .homepage_presentation{
        height: 600px;
    }

.homepage_photo{
    height: 300px;
    width: 300px;
}
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .homepage_presentation{
        flex-direction: column-reverse;
        padding: 20px;
        height: 600px;
    }

    .homepage_title{
        padding: 0;
    }

    .homepage_photo{
        width: 200px;
        height: 200px;
    }

    .informations{
        padding: 25px;
        margin-top: 50px;
    }
}


