.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_intro h2{
  margin-right: 55px;
}


.contact_intro{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80%;
}


.form{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 100px 0px ;
}

.form_container{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 25px ;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.103);
  box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
  0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
  0 -3px 5px rgb(78 78 78 / 25%);}

.name ,.objet ,.email, .tel, .message{
  display: flex;
  flex-direction: column;
  width: 70%; 
}

.message input{
  height: 150px;
}

.submit{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: solid 2px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.103);
  color: white;
}

label{
  font-size: 22px;
  display: flex;
  justify-content:center ;
  
}

input{
  height: 40px;
  border: solid 2px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.103);
  color: white; 
   margin: 10px 0px;
}

textarea{
  background-color: rgba(255, 255, 255, 0.103);
  border: 2px solid white;
  color: white;
  height: 150px;
  border-radius: 15px;
  padding: 10px;
}
.success_message {
  border-radius: 25px;
  height: 40%;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 195, 195);
  box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
  0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
  0 -3px 5px rgb(78 78 78 / 25%);
  animation: wave 0.5s linear backwards;
}

.success_message p{
  text-align: center;
  width: 80%;
}

.return_button{
  height: 50px;
  position: relative;
  right: 40%;
}

@keyframes wave {
  from{
    transform:scale(0%);
  }
  to {
    transform: scale(100%);
  }

}

.validate_icon{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 50px;
  background-color: green;
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
  .form_container{
      width: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .form_container{
      width: 70%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .form_container{
      width: 90%;
  }

  .success_message{
    width: 250px;
  }
}


@media screen and (min-width: 300px) and (max-width: 1023px){
  body{
  flex-direction: column;
  height: 100%;
  }
  .form{
    padding: 50px 0px;
  }
  .contact{
  height: 100%;
  }
  .name ,.objet ,.email, .tel, .message{
  width: 90%;
  }
}