* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, rgba(252,251,251,1) 60%, rgba(15, 68, 121) 100%)

}

@media  screen and (min-width: 1024px) {
  main {
    height: 100%;
  }
  
}

/* Responsive 1024px */
@media screen and (min-width: 1024px) and (max-width: 1440px){

}

/* Responsive 768px */
@media screen and (min-width: 768px) and (max-width: 1023px){
  main{
    flex-direction: column;
  }

}

/* Responsive 320px */
@media screen and (min-width: 300px) and (max-width: 767px){
  main{
      flex-direction: column;
    }
}