.hard_skills{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hard_skills_intro h2{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.hard_skills_intro{
    width: 60%;
    margin-bottom: 50px;
}

.hard_skills_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 1200px;
    align-items: center;
    gap: 50px;
}

.card {
    margin: 40px auto;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 9px 40px 5px rgba(100, 100, 100, 0.308);
  }

  span  h2 {
    margin: 0 10px;
    line-height: 130px;
    text-align: center;
    color: white;
  }

  .card_logo {
    height: 100px;
    width: 100px;
    border-radius: 25px ;
  }

  .perspective {
    perspective: 500px;
  }

  .rotate-effect {
    transform: 
    rotateX(0deg) rotateY(10deg) rotate(360deg);
  }

span{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
}

.card p{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 30px;
    text-align: center;
    width: 100%;
    font-size: 25px;
    line-height: 30px;
    height: 290px;
    display: flex;
    align-items: center;
}

  @media screen and (min-width: 1024px) and (max-width: 1275px){

    .hard_skills_intro{
        width: 90%;
    }

    .content {
        height: 100%;
    }

    .hard_skills_content{
        height: 1800px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .hard_skills_content{
        width: 100%;
    }
}


  @media screen and (min-width: 768px) and (max-width: 1023px){
    .content{
        height: 100%;
        align-content: normal;
        display: flex;
        align-items: normal;
    }

    .hard_skills_content{
        width: 100%;
        gap: 50px;
        height: 1800px;
    }

    .hard_skills_intro{
        width: 90%;
    }

    main{
        height: 100%;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 767px){
    .content{
        height: 2500px;
    }

    .card{
        width: 300px;
        height: 550px;
    }

    .card p{
        height: 350px;
    }

    .hard_skills_intro{
        width: 90%;
    }

    .hard_skills_content{
        gap: 20px;
        height: 100%;
        width: 100%;
    }
  }
